<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/FD329/OneDrive/Desktop/PWP_API Framework"><classes><class name="com.dmartLabs.runner.APIChaining_TestRunner"><methods><include name="scenario"/></methods></class><class name="com.dmartLabs.runner.ConfirmDeliveryTestRunner"><methods><include name="scenario"/></methods></class><class name="com.dmartLabs.runner.CreateAndGetDeliveryRunner"><methods><include name="scenario"/></methods></class><class name="com.dmartLabs.runner.DataTable_TestRunner"><methods><include name="scenario"/></methods></class><class name="com.dmartLabs.runner.GenerateAccessTokenTestRunner"><methods><include name="scenario"/></methods></class><class name="com.dmartLabs.runner.TestRunner"><methods><include name="scenario"/></methods></class></classes></test></suite>